<h2>Lista de productos</h2>
<hr>
<br>

<ul>
    {{#each productos}}
        <li>
            {{title}}
            <br>
            ${{price}}
             <br>
            {{cod}}
             <br>
            {{stock}}
        </li>
        <hr>
    {{/each}}
</ul>