<h1>lista de productos</h1>
{{#if productoagregado}}

<div id="swal-container" data-show-swal="true"></div>

{{/if}}
<ul>
    {{#each prods}}
     
     <li>
        {{title}}
        {{price}}
        <form action="api/mongo/products/{{_id}}?_method=DELETE" method="post">
      
        <button type="submit">Eliminar</button>
        </form>
     </li>

    {{/each}}
</ul>


<h2>Agregar producto</h2>

<form action="api/mongo/products" method="post">
    <input type="text" name="title" placeholder="*nombre">
    <input type="number" name="price" placeholder="*price">
    <input type="text" name="description" placeholder="descripcion">
    <input type="text" name="cod" placeholder="*cod">
    <input type="number" name="stock" placeholder="stock">
    <input type="text" name="category" placeholder="category">
    <input type="submit" value="Agregar">
</form>

 <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const swalContainer = document.getElementById('swal-container');
            const showSwal = swalContainer.getAttribute('data-show-swal');

            if (showSwal === 'true') {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Tu producto ha sido agregado',
                    showConfirmButton: false,
                    width:"300px",
                    
                    timer: 1500
                });
            }
        });
    </script>