<ul>
    {{#each prods}}
     
     <li>
        {{title}}
        {{price}}
        <form action="http://localhost:3000/api/mongo/carts/{{_id}}" method="POST">
            <button type="submit">Agregar al carrito</button>
        </form>     
        </li>

    {{/each}}
</ul>


<a href="/carrito">Carrito</a>