<ul>
    {{#each prods}}
     
     <li>
        {{title}}
        {{price}}
        <button ><a src="http://localhost:3000/api/mongo/carts/{{_id}}">Agregar al carrito</a></button>
     </li>

    {{/each}}
</ul>