<a href="/" style="color: white;">Pagina principal</a>
<ul>
    {{#each prods}}
     
     <li>
        {{title}}
        {{price}}
        <form action="http://localhost:3000/api/mongo/carts/{{_id}}" method="POST">
            <button type="submit">Agregar al carrito</button>
        </form>     
        </li>

    {{/each}}
</ul>


<h3><a href="/carrito" style="text-decoration: none; color:white;">Carrito</a></h3>

<h3><a href="/tickets" style="text-decoration: none; color:white">Ticket</a></h3>