{{#if mensaje}}
    <p>{{ mensaje }}</p>
{{/if}}
<h2>Registro:</h2>
<hr>
<form action="/api/sessions/registro" method="post">
    <input type="text" name="first_name" placeholder="*nombre">
    <input type="text" name="last_name" placeholder="*apellido">
    <input type="email" name="email" placeholder="*correo electrónico">
    <input type="text" name="age" placeholder="edad">
    <input type="password" name="password" placeholder="*contraseña">
    <input type="text" name="rol" placeholder="rol">
    <input type="text" name="web" value="web" hidden>

    <br><br>
    <input type="submit" value="Registrar">
</form>
<br><br>
{{>menu}}