<ul >
    <li >
          <a href="/" style="color: white;">Pagina principal</a>
    </li>
    <li>
          <a href="/registro" style="color: white;">Registro</a>
    </li>
    <li>
          <a href="/login" style="color: white;">Login</a>
    </li>
    <li>
          <a href="/perfil" style="color: white;">Perfil</a>
    </li>
     <li>
          <a href="/usuarios" style="color: white;">Todos los usuarios registrados</a>
     </li>
     <li>
      <a href="/productos" style="color: white;">Productos</a>
     </li>
     <li>
      <a href="/productosadmin" style="color: white;">Administrar productos (admin)</a>
     </li>
    <li>
          <a href="/api/sessions/logout" style="color: white;">logout</a>
    </li>
</ul>